<!DOCTYPE html>
<html>
 <head>
  <title>My Webpage</title>
 </head>
 <body>
  <ul id="navigation">
  {% for item in content %}
   {{ item.a }}
   {{ item.b }}
   {{ item.c }}
  {% endfor %}
  </ui>
 </body>
</html>